<!DOCTYPE html>
<html>
<head>
  <title>abnqe &ndash; A better Netflix queue experience</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <%= tag :meta, name:'description', content:t('.meta.description') %>
  <%= tag :meta, name:'keywords', content:t('.meta.keywords') %>
  <meta name="google-site-verification" content="0OmBQSm2z63p2LS72xWekC3_sNPSTymv1eCVr0FmRTw" />
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"></link>
</head>
<body>

<%= yield %>

<footer id="footer">
  &copy; <%= Time.now.year %> Made by <a href="http://mrdanadams.com" target="_blank">Dan Adams</a> mostly for fun. Movie content <a href="http://www.netflix.com" target="_blank">delivered by Netflix</a>.
</footer>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '<%= Settings.google_analytics.account %>']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>
