<!DOCTYPE html>
<html>
<head>
  <title>abnqe &ndash; A better Netflix queue experience</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <%= tag :meta, name:'description', content:t('.meta.description') %>
  <%= tag :meta, name:'keywords', content:t('.meta.keywords') %>
</head>
<body>

<%= yield %>

<footer id="footer">
  &copy; <%= Time.now.year %> Made by <a href="http://mrdanadams.com" target="_blank">Dan Adams</a> mostly for fun. Movie content <a href="http://www.netflix.com" target="_blank">delivered by Netflix</a>.
</footer>

</body>
</html>
