<!DOCTYPE html>
<html>
<head>
  <title>Xilften &ndash; A non-terrible Netflix experience for the browser</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <%= tag :meta, name:'description', content:t('.meta.description') %>
  <%= tag :meta, name:'keywords', content:t('.meta.keywords') %>
</head>
<body>

<div class="navbar navbar-fixed-top">
	<div class="navbar-inner"><div class="container">
		<a class="brand" href="/"><%= t('site_name') %></a>

		<ul class="nav pull-right">
		<% if user_signed_in? %>
			<li><%= link_to t('.log_out'), destroy_user_session_url, method: :delete %></li><% end %>
		</ul>
	</div></div>
</div>

<% if notice %><p class="notice"><%= notice %></p><% end %>
<% if alert %><p class="alert"><%= alert %></p><% end %>

<%= yield %>

<footer>&copy; <%= Time.now.year %> Made by <a href="http://mrdanadams.com" target="_blank">Dan Adams</a> mostly for fun. Movie content <a href="http://www.netflix.com" target="_blank">delivered by Netflix</a>.</footer>

</body>
</html>
